@import "colors.css";
@import "App.css";
@import "SideBar.css";
@import "SearchBar.css";
@import "ItemList.css";
@import "ListItem.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    color: var(--common-font-secondary);
    background-color: var(--common-bg);
}
