.searchBar {
    top: 0;
    position: sticky;
    padding: 2em;
    background-color: var(--common-bg);
}

.searchBar > *{
    display: flex;
    margin-right: 1em;
}

.searchBar .b-form-tags {
    width: 60vw;
    margin-right: 1em;
}
